.button {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: inset 4px -5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  min-width: 100px;
  user-select: none;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  &:active {
    opacity: 1;
    box-shadow: none;
    color: var(--main-color);
  }
  padding: 10px;
}

