
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.temp1 {
  background-color: var(--main-color);
}

.temp2 {
  background-color: var(--main-color);
}

.temp2wrapper {
  display: block;
  background-color: var(--secondary-color);
}

.bubbles {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 104px;
  color: var(--main-color);
  text-shadow: -1px -1px 0 var(--border-color), 1px -1px 0 var(--border-color), -2px 2px 0 #000,
    2px 2px 0 #000;
}
